<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.bm.mapper.BmSalaryRecordMapper">
    <sql id="deleteFlagHql">
        and deleted = ${@com.ws.bm.common.constant.BaseConstant@FALSE}
    </sql>

    <select id="getSalaryStatistic" resultType="String">
        select sum(salary) from bm_salary_record
            <where>
                <if test="format != null and time != null">
                    DATE_FORMAT(salary_date,#{format}) = DATE_FORMAT(#{time},#{format})
                </if>
                <include refid="deleteFlagHql"/>
            </where>
    </select>
</mapper>