<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.bm.mapper.BmUserRoleMapper">

    <sql id="selectUserRoleHql">
        select id,user_id, role_id, create_date, update_date, deleted
        from bm_user_role
    </sql>
    <sql id="deleteFlagHql">
        and deleted = ${@com.ws.bm.common.constant.BaseConstant@FALSE}
    </sql>

    <select id="queryUserRolesByRoleIds" parameterType="String" resultType="List">
        <include refid="selectUserRoleHql"/>
        <where>
            role_id in (#{roleIds})
        </where>
        <include refid="deleteFlagHql"/>
    </select>

    <select id="queryUserRolesByUserIds" parameterType="String" resultType="List">
        <include refid="selectUserRoleHql"/>
        <where>
            user_id in (#{userIds})
        </where>
        <include refid="deleteFlagHql"/>
    </select>

    <select id="queryUserIdsByRoleId" parameterType="String" resultType="String">
        select user_id from bm_user_role where role_id = #{roleId}
        <include refid="deleteFlagHql"/>
    </select>

    <select id="queryUnUserIdsByRoleId" parameterType="String" resultType="String">
        select user_id from bm_user_role where role_id != #{roleId}
        <include refid="deleteFlagHql"/>
    </select>

    <insert id="allocatedUsers">
        insert into bm_user_role (id,user_id,role_id,create_date,update_date,deleted) values
        <foreach item="item" index="index" collection="list" separator="," >
            (#{item.id},#{item.userId},#{item.roleId},#{item.createDate},#{item.updateDate},#{item.deleted})
        </foreach>
    </insert>

    <update id="unAllocatedUsers" parameterType="String">
        update bm_user_role set deleted = ${@com.ws.bm.common.constant.BaseConstant@TRUE} , update_date = sysdate()
        where role_id = #{roleId} and userId =
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>

</mapper>
